.subheading{
	text-align : center;
	}

.subheading2{
	background-color : #800080;
	color : white;
	}
p.content{
	margin-top :-10px;
	}
div.container{
	margin : 30px;
	}
div.center{
	text-align : center;
	}
div>form{
	margin-left : 40%;
	color : #800080; 
	}
label{
	margin-right:5%;
}
header> div >h1{
	color : #800080;
}
footer{
	color : #800080;
	}